.box {
  height: 700px;
  padding: 10px;
  margin: 20px;
  color: rgb(0, 0, 0);
  background:white;
}
.box h1 {
  color: rgb(74, 170, 165)
}
.margin-top-80 {
  margin-top: 80px;
}
body {background-color:rgb(237, 237, 237)
}
.box p {
  font-size: 18pt;
}